@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

html{
height: 100%;

}
body{
margin: 0;
height: 100%;
background-size: contain;
background-repeat: no-repeat;
background-image:  url('bcgr.jpg');
}

header{
text-align: center;
font-size: 5em;
font-family: 'Work Sans';
color:rgba(60, 22, 104, 0.712);
font-weight: bold;

}
.buttons{
    margin-top: 12em;
    text-align: center;
    align-items: center;
}
button{
    min-height: 2em;
    padding: 5px;
    min-width: 15em;
    max-width: 25em;
    margin: 0.5em;
    font-size: 1.5em;
    border:rgba(248, 228, 45, 0.753);
    background-color:rgba(60, 22, 104, 0.342);
    border-radius: 10px;
    color: rgba(245, 245, 18, 0.842);
}