@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

html{
height: 100%;

}
body{
margin: 0;
height: 100%;
background-size: contain;
background-repeat: no-repeat;
background-image:  url('bcgr.jpg');
}

header{
text-align: center;
font-size: 5em;
font-family: 'Work Sans';
color:rgba(60, 22, 104, 0.712);
font-weight: bold;

}
input{
    margin:0 auto;
    border-color: black;
    max-width: 10em;
    padding: 10px;
    font-size: 0.5em;
    color:rgb(60, 22, 104);
    margin:0;
    background-color:rgba(61, 58, 58, 0.267);
}
.forms{
    margin: 0 auto;
    margin-top: 1em;
    text-align: center;
    font-size: 3em;
    font-family: 'Work Sans';
    color:rgba(60, 22, 104, 0.712);
    font-weight: bold;
    }
button{
    min-height: 2em;
    padding: 5px;
    min-width: 10em;
    max-width: 15em;
    margin: 0.5em;
    font-size: 1.5em;
    border:rgba(73, 28, 124, 0.342);
    background-color:rgba(60, 22, 104, 0.342);
    border-radius: 10px;
    color: rgba(245, 245, 18, 0.842);
}

.buttons{
    margin-top: 5em;
    text-align: center;
    align-items: center;

}
