
.spaceForAssets{

    height: 10em;
    width: 100%;
    background-color: white;
}
td{
    height: auto;
    min-width: 100%;

}
.e{

    display: block;
    min-width: 100%;
    margin-top: 1vh;
    text-align: center;
    height: fit-content;
    background-color: #7b838f98;
    font-size:large;
    font-family: 'Work Sans';
    font:bolder;
}