
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

body{
margin: 0;
height: 100%;
background-size: cover;
background-image:  url('../img/bcgr.jpg');
}

.joinTitle{
text-align: center;
font-size: 7em;
font-family: 'Work Sans';
color:#3b3355;
font-weight: bold;

}
.restJoin{
    background-color:#bfcde050;

}
.forms{
    margin-top: 1em;
    text-align: center;
    align-items: center;
}
.joinInput{
    font-size: 0.75em;
    color:#bfcde0;
    border-color:rgba(0, 0, 0, 0.623);
    background-color:#33353357;

}
.joinForm{

    display: grid;
    font-family: 'Work Sans';
    min-width: 10em;
    max-width: 15em;
    margin: 0 auto;
    margin-bottom: 1em;
    font-size: 4em;
    font-weight: bold;
    color: #3b3355;
    
}
.jTitle{
    
    font-family: 'Work Sans';
    
    color:#251e3b;

}
.buttons{
    margin-top: 2em;
    text-align: center;
    align-items: center;
}
.joinButton{
    min-height: 2em;
    padding: 5px;
    min-width: 15em;
    max-width: 25em;
    margin: 0.5em;
    font-size: 1.5em;
    border:#bfcde0;
    background-color:#5d5d81;
    border-radius: 10px;
    color: #bfcde0;
}
