  .popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0,0,0, 0.5);
  }
  .popup_inner {
    position: absolute;
    left: 35%;
    right: 35%;
    top: 15%;
    bottom: 15%;
    margin: auto;
    background-color:#bfcde098;
    border:1px solid;
    border-color:#251e3b;
  }
  .text_input {
    color: black;
    width:100%;
  }
  .span_text{
    color: black;
  }
  .image_list{
    overflow-y:auto;
    overflow-x:hidden;
    padding: 10px;
    height:80%
  }
  .image_line{
    margin-bottom: 5px;
    font-size: 15;
    width:100%;
    display: inline-block;
  }
  .image_line_choosen{
    border: black solid 1px;
    display: inline-block;
  }
  .image_box{
    float: left;
  }
  .image_name_span{
    float:left;
    color: black;
    line-height: 35px;
    margin-left: 10px;
  }
  .bottom_bar {
    margin: auto;
    display: inline;
  }
  .pop_button{
    width:100%;
    height:5%;
    margin: auto;
    background-color:#5d5d81;
    border-radius: 5px;
    color: #bfcde0;
  }
  .pop_button:hover{
    border:#bfcde0 1px solid;
  }
  .select_box{
    padding: 10px;
    height:92%
  }
  .select_image{
    align-items: center;
    height: 70%;
    width:auto;
  }